nav.menu-nav u1 li.btn {
    display: inline-block;
    list-style-type: none;
    padding-top: 15px;

}

nav.menu-nav {
    background-color: cadetblue;
    text-align: center;
    min-height: 7vh;
}

nav.menu-nav u1 li.btn a{
   
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color:cadetblue;
   
}


    nav.menu-nav u1 li.btn:hover a {
        color: darkgray;
        background-color: darkslategrey;
        transition: 0.3s all;
    }
footer {
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

    footer p {
        display: inline;
        margin: 20px 10px 10px;
    }

.footer-image {
    width: 10%;
    height: auto;
    display: block; 
    margin-left: auto; 
}



div#content div.leftbox h1, p {
    margin: 50px;
    color: white;
    font-size: 20px;
}






div#entreprise {
    background-color: darkslategrey;
}


body {
    background-color: black;
}

h1 {
    color:whitesmoke;
    text-align: center;
}
.image-container {
    display: inline-block;
    margin: 10px;
    position: relative;
    float: right;
}

.image {
    width: 550px;
    height: auto;
    transition: transform 0.3s;
    padding-r: 50px;
}

.image-container:hover .image {
    transform: scale(1.1);
}

.leftbox {
    float: left;
    width: 50%;
}


header a {
    text-decoration: none; 

}

html {
    scroll-behavior: smooth; 
}




div#entreprise div.dev {
    background-color: cadetblue;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15;
    color: white;
    font-size: 20px;

}

div.dev img {
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 18px;
}

div.dev p {
    margin: 0;
}

div#entreprise div.dev:hover {
   
    background-color: darkslategrey;
    transition: 0.3s all;
    cursor: pointer;
}



h2 {

    font-size: 34px;
    color: white;
}

#telechargements {
    background-color: darkslategrey;
    padding: 20px;
}

.leftbox {
    color: white;
}

.rightbox {
    color: white;
    font-size: 20px;
}

.lien {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
}

ul {
    margin-top: 20px;
}

header {
    display: flex;
}

    header a {
        flex: 0 0 auto; /* Le logo Nautilus ne prendra que l'espace n�cessaire */
    }

    header img {
        max-width: 100%; /* Les images prendront 100% de la largeur disponible */
        height: auto; /* Assurez-vous que les images ne d�forment pas */
    }

        header img:last-child {
            width: auto; /* R�initialise la largeur � auto pour que le fond d'�cran ait la m�me largeur que le logo */
            max-width: 100%; /* S'assurer que la largeur n'exc�de pas la largeur du logo */
            height: auto; /* Assurez-vous que les images ne d�forment pas */
            overflow: hidden; /* Cacher toute partie de l'image qui d�passe de la zone de son conteneur */
        }
